# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.Identifier
# C extensions
*.so

# test
test.ipnyb
test1.ipnyb
test2.ipnyb
test3.ipnyb
test.py
test1.py
test2.py
test3.py
test_wolff_numba_draft.py
test_wolff_func_numba_draft.py
test_wolff_numba.py
test_wolff_func_numba.py
test_timeit.py
test.png
test.pdf
test.svg

# deafult pictures
Absolute_magnetisation.png
Metropolis.gif
Metropolis_*.png